# Copyright 2025 Booz Allen Hamilton.
#
# Booz Allen Hamilton Confidential Information.
#
# The contents of this file are the intellectual property of
# Booz Allen Hamilton, Inc. ("BAH") and are subject to copyright protection
# under the laws of the United States and other countries.
#
# You acknowledge that misappropriation, misuse, or redistribution of content
# on the file could cause irreparable harm to BAH and/or to third parties.
#
# You may not copy, reproduce, distribute, publish, display, execute, modify,
# create derivative works of, transmit, sell or offer for resale, or in any way
# exploit any part of this code or program without BAH's express written permission.
#
# The contents of this code or program contains code
# that is itself or was created using artificial intelligence.
#
# To the best of our knowledge, this code does not infringe third-party intellectual
# property rights, contain errors, inaccuracies, bias, or security concerns.
#
# However, Booz Allen does not warrant, claim, or provide any implied
# or express warranty for the aforementioned, nor of merchantability
# or fitness for purpose.
#
# Booz Allen expressly limits liability, whether by contract, tort or in equity
# for any damage or harm caused by use of this artificial intelligence code or program.
#
# Booz Allen is providing this code or program "as is" with the understanding
# that any separately negotiated standards of performance for said code
# or program will be met for the duration of any applicable contract under which
# the code or program is provided.

services:
  api:
    image: "aissemble-lite-ffmpeg-backend:0.0.1-SNAPSHOT"
    ports:
      # HOST:Container port
      # [HOST:]CONTAINER[/PROTOCOL]
      # See https://docs.docker.com/reference/compose-file/services/#ports
      # If things seem to not be working, make sure you don't have something else
      # running on host port 8000 already.
      - 8000:80
    # environment:
    #   # configure environment variables for the container.
    #   # The below is not used at the moment; it's an example only.
    #   # BACKEND_PORT: 8000
    #   # BACKEND_HOST: 0.0.0.0

  frontend:
    image: "aissemble-lite-ffmpeg-frontend:0.0.1-SNAPSHOT"
    ports:
      - 3000:80

