/*
 * Copyright 2025 Booz Allen Hamilton.
 *
 * Booz Allen Hamilton Confidential Information.
 *
 * The contents of this file are the intellectual property of
 * Booz Allen Hamilton, Inc. ("BAH") and are subject to copyright protection
 * under the laws of the United States and other countries.
 *
 * You acknowledge that misappropriation, misuse, or redistribution of content
 * on the file could cause irreparable harm to BAH and/or to third parties.
 *
 * You may not copy, reproduce, distribute, publish, display, execute, modify,
 * create derivative works of, transmit, sell or offer for resale, or in any way
 * exploit any part of this code or program without BAH's express written permission.
 *
 * The contents of this code or program contains code
 * that is itself or was created using artificial intelligence.
 *
 * To the best of our knowledge, this code does not infringe third-party intellectual
 * property rights, contain errors, inaccuracies, bias, or security concerns.
 *
 * However, Booz Allen does not warrant, claim, or provide any implied
 * or express warranty for the aforementioned, nor of merchantability
 * or fitness for purpose.
 *
 * Booz Allen expressly limits liability, whether by contract, tort or in equity
 * for any damage or harm caused by use of this artificial intelligence code or program.
 *
 * Booz Allen is providing this code or program "as is" with the understanding
 * that any separately negotiated standards of performance for said code
 * or program will be met for the duration of any applicable contract under which
 * the code or program is provided.
 */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
